<h1>Log in</h1>
<%= form_for :session, url: login_path do |f| %>
    <p>
    <%= f.label :username %><br />
   <%= f.text_field :username, placeholder: 'Your user name here' %>
    </p>

  <%= f.submit "Log in"  %>
 
<% end %></br>
<%= link_to "Sign up", new_user_path %>