<div class="d-flex col-md-12 my-1 ">
  <div class="col-md-10 text-secondary">
    <% if @articles.length > 0 %>
      <h4> Articles Page </h4>
    <% end %>
  </div>
  <div class="col-md-2">
    <% if current_user %>
      <%= link_to 'New Article', new_article_path, class: "btn btn-success mt-1" %>
    <% end %>
  </div>
</div>
<div class= "d-flex col-md-12 row">
<% @articles.each do |article| %>
  <div class="col-md-3 border pr-0">
    <%= link_to article_path(article) do %>
      <div class="background-image  col-md-12 d-flex px-1" style="background-image: url('<%= rails_blob_url(article.image) %>'); height: 130px; background-size: cover;">
        <div class="title-name text-white name-underline">
         <p> 
          <strong>By:</strong>
            <%= article.author.name %>
          </p>
        </div>
      </div>        
      <div class="col-md-12 title deco-color mb-1 long-article" style="height: 100px;">
        <p class="text-deco">
          <strong>
              <%= article.title %>
          </strong>
        </p>
        <p  class="text-deco">
          <%= article.text[0...30]%> ...
        </p>
        <p class="text-read">
        Read More
          <% article_path(article) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
</div>

