<p id="notice"><%= notice %></p>
<div class="d-flex class="col-md-12">
<div class="col-md-6">
  <div class="background-image col-md-12 position-relative" style="background-image: url('<%= rails_blob_url(@article.image) %>'); height: 400px; background-size: cover;">
      <div class="position-absolute h-25 text-white title">
        <p>
          <strong>
            <%= @article.title %>
          </strong>
        </p>
        <p>
          <strong>By:</strong>
          <%= @article.author.name %>
        </p>
      </div>
  </div>
  <%= render "categories" %>
  <div class="d-flex">
    <div class="posts mt-3">
      <%= render 'vote', article: @article %>
    </div>
    <div class = "d-flex col-md-2 mt-3">
      <%= update_article %>
    </div>
  </div>
  </div>
  <div class="col-md-6 text-secondary py-2 px-3 text-section">
    <h5>
      <%= @article.title %>
    </h5>   
    <%= @article.text %>
    <div class="article-author">
      <i> <%= @article.author.name %> </i>
    </div>
  </div>
</div>
