<div class="d-flex">
  <div class="background-image border col-md-8 position-relative d-flex main-article" style="background-image: url('<%= rails_blob_url(@famous_article.image ) %>');">
    <div class="position-absolute desc">
      <h5 class="main-heading"> 
          <%= @famous_article.title %>!
      </h5>
      <h6 class="text-white"> 
          <%= @famous_article.text[0..70] %>...
      </h6>
      <h6 class="conditions"> 
        <%= link_to 'Read More', article_path(@famous_article) %>...
      </h6>
    </div>
  </div>
  <div class="category-button">
    <%= new_category %>
  </div>
</div>