<%= form_with(model: @category, local: true) do |form| %>
    <%= category_error(@category) %>
    <div class="field">
      <%= form.label :name, class: "text-secondary font-weight-bold" %>
      <%= form.text_field :name, class: "form-control col-md-6", placeholder: "Enter Category Name" %>
    </div>
  
    <div class="field">
      <%= form.label :priority, class: "text-secondary font-weight-bold" %>
      <%= form.number_field :priority, class: "form-control col-md-6", placeholder: "Enter Category Priority" %>
    </div>
    
    <div class="actions">
      <%= form.submit class: "btn btn-primary mt-2"%>
    </div>
<% end %>
  