<%= form_with(model: category, local: true) do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
  
        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name, class: "text-secondary font-weight-bold" %>
      <%= form.text_field :name, class: "form-control col-md-6", placeholder: "Enter Category Name" %>
    </div>
  
    <div class="field">
      <%= form.label :priority, class: "text-secondary font-weight-bold" %>
      <%= form.number_field :priority, class: "form-control col-md-6", placeholder: "Enter Category Priority" %>
    </div>
    
    <div class="actions">
      <%= form.submit class: "btn btn-primary mt-2"%>
    </div>
  <% end %>
  