<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class= "d-flex col-md-12">
<% @categories.each do |category| %>
  <div class="col-md-4">
    <%= link_to category_path(category) do %>
      <div class="card background-image col-md-12 position-relative d-flex" style="background-image: url('<%= rails_blob_url(category.articles.last.image ) if category.articles.length > 0 %>'); height: 250px; background-position: center;">
        
        <div class="position-absolute h-25 text-white title">
          <p>
            <strong>Category Name:</strong>
            <%= category.name %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to 'New Category', new_category_path %>
