<p id="notice"><%= notice %></p>

</div>
  <div class="card background-image col-md-8 position-relative d-flex" style="background-image: url('<%= rails_blob_url(Article.order("votes_count DESC").first.image )%>'); height: 350px; background-position: center;">
    <h3> 
        <%= Article.order("votes_count DESC").first.title %>
    </h3>
    <h3> 
        <%= Article.order("votes_count DESC").first.text %>
    </h3>
  </div>
<div>

<div class= "d-flex col-md-12 mt-2 row">
<% @categories.order("priority ASC").each do |category| %>
  <div class="col-md-3">
    <%= link_to category_path(category) do %>
      <div class="card background-image col-md-12 position-relative d-flex" style="background-image: url('<%= rails_blob_url(category.articles.last.image ) if category.articles.length > 0 %>'); height: 250px; background-position: center;">
        
        <div class="position-absolute h-25 text-white title">
          <p>
            <strong>Category Name:</strong>
            <%= category.name %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to 'New Category', new_category_path %>
