<% if Article.any? %>
<div class="d-flex">
  <div class="background-image border col-md-8 position-relative d-flex main-article" style="background-image: url('<%= rails_blob_url(Article.order("votes_count DESC").first.image ) if Article.any?%>');">
    <div class="position-absolute desc">
      <h6 class="main-heading"> 
          <%= Article.order("votes_count DESC").first.title if Article.any?%>!
      </h6>
      <h6 class="text-white"> 
          <%= Article.order("votes_count DESC").first.text[0..70] if Article.any?%>...
      </h6>
    </div>
  </div>
  <div class="category-button">
    <% if logged_in? %>
      <%= link_to 'New Category', new_category_path, class: "btn btn-success mt-2 mx-2" %>
    <% end %>
  </div>
</div>
<% else %>
<div class="d-flex">
<div class="background-image border col-md-8 position-relative d-flex main-article" style="background-color: #666 ; height: 360px; background-position: center;">
  <div class="position-absolute desc">
    <h6 class="main-heading"> 
        Hey <%= current_user.name  %>
    </h6>
    <h6 class="text-white"> 
        No Articles have bee created yet !!
        Please go ahead and Create some Articles
    </h6>
  </div>
</div>
<div class="category-button">
  <% if logged_in? %>
    <%= link_to 'New Category', new_category_path, class: "btn btn-success mt-2 mx-2" %>
  <% end %>
</div>
</div>
<% end %>
<% if Category.any? %>
<div class= "d-flex col-md-12 row pr-0">
<% @categories.order("priority ASC").each do |category| %>
  <% if category.articles.length > 0 %>
  <div class="col-md-3 px-0">
    <%= link_to category_path(category) do %>
      <div class=" background-image col-md-12 position-relative d-flex category-file" style="background-image: url('<%= rails_blob_url(category.articles.last.image ) if category.articles.length > 0 %>'); height: 188px; background-position: center;">
        
        <div class="text-white title title-name">
          <p class="mt-2">
            <%= category.name if @categories.length > 0 %>
          </p>
        </div>
        <div class="position-absolute text-white title">
          <span>
            <%= category.articles.last.title if category.articles.length > 0 %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="col-md-3 px-0">
      <%= link_to category_path(category) do %>
        <div class="background-image border col-md-12 position-relative d-flex category-file" style="background-color: #666 ; height: 188px; background-position: center;">
          
          <div class="text-white title title-name">
            <p class="mt-2">
              <%= category.name if @categories.length > 0 %>
            </p>
          </div>
          <div class="position-absolute text-white title">
            <span>
              Add an Article to this category!!!
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
<% else %>
  <% if logged_in? %>
    <h2 class="text-secondary mt-2 ml-3"> Welcome <%= current_user.name %> </h2>
    <h4 class="text-dark mt-2 ml-3"> Please Go ahead and create Articles and Categories </h4> 
    <%= link_to 'New Category', new_category_path , class: "btn btn-primary ml-3 mt-2" %>
  <% end %>
<% end %>

